<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type='text/javascript' src='/views/common/css.js' charset='utf-8'></script>
    <script type='text/javascript' src='/views/common/up-js.js' charset='utf-8'></script>
    <title>我的日志</title>
</head>
<body>
<!-- 头部begin -->
<div class="header-bar box-bar">
    <a href="javascript:history.go(-1);" class="header-bar-left cell"><i class="iconfont">&#xe606;</i></a>
    <div class="header-bar-title">表单填写</div>
</div>
<!-- 头部end -->
<!-- 底部begin -->
<div class="footer-oper-bar box-bar">
    <div class="box-bar-list mar-r">
        <a href="javascript:formsave();" class="footer-oper-save">保存</a>
    </div>
    <div class="box-bar-list">
        <a href="javascript:history.go(-1);" class="footer-oper-cancel">取消</a>
    </div>
</div>
<!-- 底部end -->
<div class="marin-wrap">
    <div class="my-wrap">
        <div class="my-mission pad-tb mar-b">
            <div class="task-body-title" id="formtitle"></div>
            <div class="my-wrap">
                <form id="formtable">
                    <input type="hidden" id="joblogId" name="joblogId"
                           class="input-style pull-left" maxlength="30" placeholder="" value="">
                    <input type="hidden" id="user" name="user"
                           class="input-style pull-left" maxlength="40" placeholder="" value="">

                    <div class="circumstance-bar box-bar">
                        <div class="circumstance-title cell">所属部门</div>
                        <div class="objection-right box-bar-list">
                            <input type="text" id="deptId" name="deptId"
                                   class="input-style pull-left" maxlength="40" placeholder="" value="">
                        </div>
                    </div>
                    <div class="circumstance-bar box-bar">
                        <div class="circumstance-title cell">上报人</div>
                        <div class="objection-right box-bar-list">
                            <input type="text" id="leader" name="leader"
                                   class="input-style pull-left" maxlength="40" placeholder="" value="">
                        </div>
                    </div>
                    <div class="circumstance-bar box-bar">
                        <div class="circumstance-title cell">开始时间</div>
                        <div class="objection-right box-bar-list">
                            <input type="text" id="startTime" name="startTime" readonly=""
                                   class="input-style pull-left" placeholder="" value="">
                        </div>
                    </div>
                    <div class="circumstance-bar box-bar">
                        <div class="circumstance-title cell">结束时间</div>
                        <div class="objection-right box-bar-list">
                            <input type="text" id="endTime" name="endTime" readonly=""
                                   class="input-style pull-left" placeholder="" value="">
                        </div>
                    </div>
                    <div class="circumstance-bar box-bar">
                        <div class="circumstance-title cell">工作内容</div>
                        <div class="objection-right box-bar-list">
                            <input type="text" id="content" name="content"
                                   class="input-style pull-left" maxlength="500" placeholder="" value="">
                        </div>
                    </div>
                    <div class="circumstance-bar box-bar">
                        <div class="circumstance-title cell">完成情况</div>
                        <div class="objection-right box-bar-list">
                            <input type="text" id="finish" name="finish"
                                   class="input-style pull-left" maxlength="500" placeholder="" value="">
                        </div>
                    </div>
                    <div class="circumstance-bar box-bar">
                        <div class="circumstance-title cell">备注</div>
                        <div class="objection-right box-bar-list">
                            <input type="text" id="remark" name="remark"
                                   class="input-style pull-left" maxlength="500" placeholder="" value="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="template">

</div>
</body>
<script type='text/javascript' src='/views/common/down-js.js' charset='utf-8'></script>
<script>
    $(function () {
        var urlval = manyValues();
        if (urlval.status == "update") {
            $('#joblogId').val(urlval.recno);
            $('#user').val(urlval.userid);

            $.ajax({
                type:"POST",
                url:"/weixin/tableform/formfield.do",
                data:{"userid":urlval.userid,"status":urlval.status,"pageid":urlval.pageid,"formid":"gzrz2019040900001","recno":urlval.recno},
                dataType:"json",
                async: false,
                success:function(data){
                    let fields = data.field;
                    for(var num in fields){
                        let id= fields[num].name;
                        let value = fields[num].value;
                        $('#'+id+'').val(value);
                    }

                },error:function (d) {

                }
            });

        }


    })
    function formsave(type) {
        var urlval = manyValues();
        var saveurl = "/joblog/insert.do?userid="+urlval.userid;
        if (urlval.status == "update") {
            saveurl = "/joblog/update.do?userid="+urlval.userid;
        }
        $.ajax({
            type: "POST",
            url: saveurl,
            data: $("#formtable").serializeArray(),
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            cache: false,
            dataType: "json",
            success: function (data) {
                navigationPoP();
            },
            error: function () {
                navigationPoP();
            }
        });
    }
</script>
</html>
