/*初始样式*/

/*动画*/


/*=======================================
   		共用样式
  =======================================*/
 #loading{ position: fixed; left:0; top: 0; right: 0; bottom: 0; background:rgba(255,255,255,1) ; margin-left:-2.5rem;  margin-top:-1rem;z-index: 111;}
 #loading img{ position:absolute; width:5rem; height: auto; left:50%; top: 50%; margin-left:-2rem; margin-top:-3rem;}

/*通用*/
a:hover{
	text-decoration: none;
}
/*垂直水平居中*/
.tb-lr-center{  display: -webkit-box; display: -ms-flexbox;  display: -webkit-flex; display: flex !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;}
 /*文字超出一行隐藏*/
.onelist-hidden{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.clear{clear:both}
.of-hidden{overflow: hidden;}
.div-messages{background:rgba(0,0,0,0.6); position: fixed; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; visibility: hidden; opacity: 0; padding:0 1.8rem; box-sizing:content-box; left:50%; bottom:1.6rem; height:3.6rem; line-height: 3.6rem; font-size:1.6rem; color:#fff; border-radius:1.8rem; z-index: 100000;}/*此为弹出层消息并且层级应最高，内容js动态替换，默认无内容，左右居中js*/
.div-messages.active{visibility: visible; opacity: 1; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s;}
.fl {float: left;}
.fr {float: right;}
.m-top04{margin-top:.4rem;}
.m-top06{margin-top:.6rem;}
.m-top08{margin-top:.8rem;}
.m-top10{margin-top:1rem;}
.m-top12{margin-top:1.2rem;}
.m-top1px{margin-top:1px;}
.margin-lr {margin: 0 1.3rem;}
.padding-lr {padding: 0 1.3rem; box-sizing: content-box;}
.padding-all{padding:0.8rem 0;}
.bodyfff {background: #fff;}
.ellipsis-one{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/*滚动条样式*/
.scrollbar-none::-webkit-scrollbar {/*滚动条宽度设置*/
    width: 0px;height: 0;
}
/*并排不换行*/
.w-space{white-space:nowrap}
.dis-i-block{display:inline-block}
/*dis-flex*/
.dis-flex{display:flex; display: -webkit-flex;}}
.dis-flex:before{display:flex; display: -webkit-flex;}
.dis-block{display: block;}
.dis-i-flex{display:inline-flex; display: -webkit-inline-flex;}
/*字体颜色*/
label.admin-text{color:#999;}
.t-first {color: #1CBB7F}/*主字体颜色*/
.t-two{color: #f4a213}/*黄色 － 与购物车按钮背景色一致*/
.t-remark,
.t-remark:link {color: #777;font-size: 1.5rem; }/*文本备注文字颜色*/
.t-remark2 {color: #444;font-size: 1.6rem;}/*主要文本连接*/
.a-first:link {color: #1CBB7F}/*主连接*/
.a-first:visited {color: #1CBB7F}
.t-center{color:#f447c9;}
.t-low{color:#13ab53;}
.t-remark3{font-size:1.3rem; color:#888;}
/*背景颜色*/
.b-color{background:#1CBB7F}/*主要背景颜色*/
.b-color-f{background:#fff;}
.b-color-1{background:#F6F6F9}

/*过渡时间*/
.ts-1{-webkit-transition: all .1s; -moz-transition: all .1s; -o-transition: all .1s; transition: all .1s;}
.ts-2{-webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; transition: all .2s;}
.ts-3{-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.ts-5{-webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s;}

/*旋转*/
.tf-180{ -moz-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);-ms-transform: rotate(-180deg);-o-transform: rotate(-180deg);transform: rotate(-180deg);}

/*促销图标*/
.em-promotion{font-size:1.2rem; vertical-align: middle;  padding:.1rem .4rem;  background:#1CBB7F; border-radius: 1.2rem;color:#fff;}
.em-p-center{background:#f447c9;}
.em-p-low{background:#13ab53;}


/*display盒子*/
.dis-box {display: -webkit-box;display: -moz-box;display: -ms-box;display: box;}
.box-flex {-webkit-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;box-flex: 1; display: block; width:100%;}

/*字体位置*/
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}


/*多个一行三个*/
.w-3{width:25%;  float:left; padding:.4rem .4rem 0.2rem .4rem; box-sizing: border-box; position: relative;}
.xiangqing{
    padding-bottom: 1rem;
    line-height: 2rem;
    background-color: #FFFFFF;
    margin-top: 0.5rem;
    margin-bottom: 5.5rem;
}
.xiangqing-1{
    padding-bottom: 1rem;
    line-height: 2rem;
    background-color: #FFFFFF;
    margin-top: 0.5rem;
    margin-bottom: 6.5rem;
}
/*按钮色调*/
.btn-submit,
.btn-disab,
.btn-cart,
.btn-reset,
.btn-default,
.btn-alipay,
.btn-wechat{font-size: 1.7rem;color: #fff;border: 0;text-align: center;padding: .84rem 0;border-radius: 4px;width: 100%;}
a.btn-submit,
a.btn-disab,
a.btn-cart{color: #fff;}
a.btn-reset,a.btn-default{color:#555;}

.btn-submit {background: #1CBB7F;border:1px solid #13AB53}/*主提交按钮*/
.btn-submit:active,
.btn-submit:hover {background: #1CBB7F;border:1px solid #13AB53}/*主提交按钮按下颜色13AB53*/
.btn-cart {background: #f4a213;border:1px solid #e19511}/*加入购物车*/
.btn-cart:active,
.btn-cart:hover {background: #e19511;border:1px solid #e19511}/*按下颜色*/
.btn-reset{background:#fff;color:#555;border:1px solid #efefef}/*清空按钮*/
.btn-reset:active,
.btn-reset:hover {background:#fff;border:1px solid #efefef}/*按下颜色*/
.btn-default{background:#fff;color:#555; border:1px solid #efefef}/*默认*/
.btn-default:active,
.btn-default:hover {color:#666}/*按下颜色*/
.btn-alipay {background: #43afea;border:1px solid #35a0db}/*支付宝按钮*/
.btn-alipay:active,
.btn-wechat:hover {background: #35a0db;border:1px solid #1dbc20}/*支付宝按钮按下颜色*/
.btn-wechat {background: #1dbc20;border:1px solid #1dbc20}/*微信按钮*/
.btn-wechat:active,
.btn-wechat:hover {background: #35a0db;border:1px solid #35a0db}/*微信按钮按下颜色*/

.btn-disab {background: #bbb;border:1px solid #1CBB7F}/*禁用按钮*/

.ect-button-more a,.ect-button-more button{margin:0 .65rem;}
.ect-button-more a:first-child,.ect-button-more button:first-child{margin-left:0;}
.ect-button-more a:last-child,.ect-button-more button:last-child{margin-right:0;}


/*文本框*/
.text-all {border-bottom: 1px solid #F6F6F9;padding: 1rem 0;width: 100%;overflow: hidden;}
.text-all.active{border-bottom:1px solid #1CBB7F;}
.text-all label {font-size: 1.65rem;display: block;height: 3rem;line-height: 3rem;margin-right: 0.8rem;vertical-align: middle;}
.text-all .text-all-span{height:3rem; line-height: 3rem; font-size:1.6rem; color:#666;}
.text-all span.t-jiantou{margin-top:.8rem;}
.input-text {position: relative;}
.input-text input {border: 0;height: 3rem;line-height: 2rem;padding: .5rem 0;box-sizing: border-box;width: 100%;color: #555;font-size: 1.6rem;padding-right: 3rem;}
.text-area1{width:100%; border:0; font-size:1.6rem; min-height: 3rem; line-height:2rem; padding: .5rem 0;  box-sizing:border-box; border-bottom:1px solid #F6F6F9; color:#555;}
/*文本下拉*/
.text-all-selec{position:relative;}
.text-all-select-div{background:#fafafa; position: absolute; left:0; right:0; display: none; font-size:1.5rem;}
.text-all-select-div ul li{border-bottom:1px solid #efefef; padding:1.3rem 0; color:#444;}
.text-all-select-div ul li:first-of-type{padding-top:0;}
.text-all-select-div ul li:last-of-type{border-bottom:none; padding-bottom:0;}
/*清空图标*/
.is-null {font-size: 2.1rem;color: #ddd;top: 50%;
	transition: all 0.2s; margin-top: -1.05rem;z-index: 10;position: absolute;right: 0.2rem; visibility: hidden; opacity: 0;-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;}
.is-null.active {visibility:visible; opacity: 1;}
/*后面带按钮文本框*/
.ipt-check-btn:link{padding:0 1.4rem; height:2rem; line-height:2rem; margin: .5rem 0; text-align: center; color: #555; display: block; border-left:1px solid #F3F4F9; margin-left:1.2rem}
.ipt-check-btn:visited,.ip-check-btn:active,.ip-check-btn:hover{color:#555; border-left:1px solid #F3F4F9;}
.ipt-check-btn:link.disabled{color:#999}
.ipt-check-btn:visited.disabled,.ip-check-btn:active.disabled,.ip-check-btn:hover.disabled{color:#999}
/*后带显示隐藏密码按钮*/
.is-yanjing{font-size:2.4rem; padding:0 .2rem; color:#1CBB7F; height: 3rem; line-height: 3rem; margin-left:1rem;-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;}
.is-yanjing.disabled{color:#ddd;}

/*============================================================================================================================================================*/


/*商品分类页*/
.category-top .search{border-bottom:1px solid #e8e8e8;position:fixed; left:0; top:0; right:0; z-index: 1; background:#F6F6F9}
.menu-right #loading{left:11rem; top:6.7rem;}

.menu-left{background:#f2f2f2;z-index: 2;position:fixed; left:0;top:102px; bottom:60px; overflow-y: scroll;}
.menu-left ul li{padding:1rem .3rem; box-sizing: border-box;  font-size:14px; width:5.6rem; text-align: center;position: relative;}
.menu-left ul li.active{background:#fff; position:relative;color:#28D8A1;}
.menu-left ul li.active:before{content: " "; position: absolute;display: block; width:2px; height:100%; background:#1CBB7F; top:0; left:0;}
.menu-right{background:#fff; position:inherit; margin-left:0; margin-top: 0; right:0; bottom:0; z-index: 1;}
.menu-right h5{font-size:14px; color:#666; margin-top:1rem; margin-bottom:.4rem;padding:0 15px;}
.menu-right h5:first-child{margin-top:0;}
.menu-right ul{overflow: hidden;padding:0 0.4rem;}
.menu-right ul li{text-align: center;}
.menu-right ul li a{display:block; padding: 8px 10px 2px; border: #fff solid 1px;}
.menu-right ul li span{display:block; overflow: hidden; text-align: center; font-size:14px;margin-left: -10px;margin-right: -10px;}
.menu-right ul li img{width:100%; height: auto;	}
.mune-no-img img{display:none}
.mune-no-img span{border:1px solid #efefef; color:#555; border-radius: 4px;}
.padleft{
    padding-left: 5.6rem;
}
.dot-span{
    border-radius: 50%;
    -wekit-border-radius: 50%;
    background: #28D8A1;
    position: absolute;
    left: 5rem;
    display: inline-block;
    width: 5px;
    height: 5px;
}
.menu-right ul li.hasperson.on{
    border: #28D8A1 solid 1px;
    background: #bbf6e2;
}
.all-select{
    border-radius: 10px;
    -wekit-border-radius: 10px;
    padding:3px 10px;
    border:solid 1px #28D8A1;
    color:#666;
    font-size: 12px;
}
.all-select-none{
    border-radius: 10px;
    -wekit-border-radius: 10px;
    padding:3px 10px;
    border: solid 1px #d8d8d8;
    color: #d8d8d8;
    font-size: 12px;
}
.all-select.on{
    background: #28D8A1;
    color:#fff;
}
.bold{
    font-weight: bold;
}
.noperson{
    width: 65px;
    height: 65px;
    background-color: #fff;
    color: darkgray;
}