<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script type='text/javascript' src='/views/common/css.js' charset='utf-8'></script>
<script type='text/javascript' src='/views/common/up-js.js' charset='utf-8'></script>
<title>消息详情</title>
</head>
<body>
<!-- 头部begin -->
<div class="header-bar box-bar">
    <a href="javascript:history.go(-1);" class="header-bar-left cell"><i class="iconfont">&#xe606;</i></a>
    <div class="header-bar-title">消息详情</div>
</div>
<!-- 头部end -->
<div class="marin-wrap">
    <div class="my-wrap mar-b">
        <div class="my-mission mar-b">
            <div class="my-mission-title"></div>
            <div class="my-mission-content"></div>
            <div class="my-mission-footer"><span class="mar-r"></span><span></span></div>
        </div>
        <!--<div class="pad-lr"><a href="javascript:;" class="view-attach">查看附件（3）</a></div>-->
    </div>
</div>
</body>
<script type='text/javascript' src='/resources/scripts/message/messageDetail.js' charset='utf-8'></script>
</html>
