@media screen and (max-width: 800px) {
    #leftmenu {
        display: none;
    }

    .layui-body {
        left: 0px !important;
    }

    .layui-footer {
        left: 0px !important;
    }
}

.msg-window {
    padding: 0 5px;
}

.my-message {
    padding: 0 10px;
    margin-top: 5px;
    width: 100%;
    height: 45px;
    background-color: #b2dba1;
    cursor: pointer;
}

.my-message:hover {
    cursor: hand;
    background: #4bb1cf;
}

.my-message-msgtitle {
    padding-top: 10px;
    float: left;
    width: 60%;
    height: 100%;
    text-align: left;
}

.my-message-msgtitle span {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.my-message-msgvalue {
    float: left;
    width: 40%;
    height: 100%;
    text-align: left;

}

.my-message-msguser {
    padding-top: 5px;
    text-align: right;
    height: 50%;
}

.my-message-msgtime {
    text-align: right;
    height: 50%;
}

.msg-winpop {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 1000;
    right: 0;
    bottom: 0px;
    padding: 1px;
    overflow: hidden;
    display: none;
}

.msg-winpop-title {
    width: 300px;
    min-height: 150px;
    background: #d9edf7;
}

.msg-winpop-title div {
    padding: 10px;
}

.layui-icon.layui-icon-refresh {
    padding: 5px;
    border-radius: 2px;
    background-color: #4FB47A;
    color: #fff
}

.layui-icon.layui-icon-refresh:hover {
    background-color: #FF5722;
    color: #fff
}

.layui-icon.layui-icon-close {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 2px;
    background-color: #4FB47A;
    color: #fff
}

.layui-icon.layui-icon-close:hover {
    background-color: #FF5722;
    color: #fff
}

.oa-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color: #5bc0de;
    font-size: 16px;
}

.oa-logo > img {
    padding-left: 10px;
    height: 60px;
}

.oa-side-scroll {
    position: relative;
    width: 200px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.oa-nav-sidebar {
    position: absolute;
    top: 0px;
    left: 200px;
    height: 100%;
    width: 20px;
    background-color: #393D49;
}

.oa-sidebar {
    position: absolute;
    top: 45%;
    height: 100px;
    width: 20px;
}

.oa-sidebar > i {
    position: relative;
    top: 34.5px;
    left: -5px;
    color: #48728B;
    z-index: 2;
}

.oa-icon {
    font-size: 20px;
    color: #5bc0de;
    height: 60px;
    line-height: 60px;
}

.oa-badge {
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 4px;
    float: right;
    height: 12px;
    width: 12px;
    line-height: 12px;
    font-size: 5px;
    text-align: center;
    background-color: #FF5722;
    color: #fff;
}

.oa-side-user {
    width: 200px;
    height: 160px;
    background-color: #55595C;
}

.oa-side-img {
    height: 90px;
    width: 100%;
    text-align: center;
}

.oa-side-img > * {
    font-size: 60px;
    color: #5bc0de;
}

.oa-side-text {
    height: 20px;
    width: 100%;
    text-align: center;
}

.oa-side-text > * {
    color: #5bc0de;
}

.oa-side-text > *:hover {
    color: #b2dba1;
}
