<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="css/font/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/public.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css"/>
    <script type='text/javascript' src='js/jquery.min.js' charset='utf-8'></script>
    <title>任务详情</title>
</head>
<body>
<!-- 头部begin -->
<div class="header-bar box-bar">
    <a href="javascript:;" class="header-bar-left cell"><i class="iconfont">&#xe606;</i></a>
    <div class="header-bar-title">任务详情</div>
    <a href="javascript:;" class="header-bar-right cell">任务处理</a>
</div>
<!-- 头部end -->
<div class="marin-wrap">
    <div class="my-wrap">
        <div class="pad-tb my-mission">
            <div class="detail-bg-line box-bar">
                <div class="objection-title corh cell">意见：</div>
                <div class="objection-right box-bar-list">
                    <select class="objection-select pull-left">
                        <option value="">请选择您的意见</option>
                    </select>
                </div>
            </div>
            <div class="detail-bg-line box-bar">
                <div class="objection-title corh cell">意见原因：</div>
                <div class="objection-right box-bar-list">
                    <input type="text" class="input-style pull-left" placeholder='请填写您的原因'>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type='text/javascript' src='js/bootstrap.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/layer.js' charset='utf-8'></script>
</html>
