/*联系方式*/
.list {
	width: 100%;
	font-size: 14px;
	color: #666;
	padding:8px 0;
}
.list .listh{
	width: 100%;
	background: #fff;
	padding: 8px;
	border-bottom: 1px solid #ebebeb;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom:10px ;
}
.listh .listlt {
	width: 46px;
	height: 46px;
	overflow: hidden;
	float: left;
}
.listh .listlt img{
	width: 100%;
	height: 100%;
}
.listh .listamo{
	margin-left: 10px;
	float: left;
	width: 34%;
	overflow: hidden;
}
.listamo .listm{
	font-size: 16px;
	color: #28D8A1;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}
.listamo .listz{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.listh .listrt {
	float: right;
	width: 46%;
}
.listrt .pic1{
	width: 2px;
	height: 46px;
	margin:0 5px;
}
.listrt .pic2{
	width: 20px;
	height: 20px;
}
/*我的*/
.list .listuse{
	margin-bottom: 0;
}
.listh .userlt{
	width: 60px;
	height: 60px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}
.listh .userlt img{
	width: 100%;
	height: 100%;
}
.listamo .userm{
	font-size: 16px;
	color: #000;
	margin-bottom: 5px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}
.listamo .userz{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.listrt p{
	text-align: right;
	margin-right: 10px;
} 
.listrt p img{
	width: 26px;
	height: 26px;
	margin-bottom: 10px;
}
.useul {
	width: 100%;
	font-size: 14px;
	color: #666;
	padding: 5px 0;
}
.useul li{
	width: 100%;
	background: #fff;
	padding: 10px 18px;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
}
.useul li a{
	display: block;
	width: 100%;
	height: 100%;
	color:#606060;
}
.useul .useli{
	margin-bottom: 8px;
}
.quit{
	width: 100%;
	padding:30px 0 0;
	overflow: hidden;
	text-align: center;	
}
.quit input{
	width:76%;
	height: 39px;
	background: #e82b47;
	color:#fff;
	font-size: 14px;
	border:none;
	border-radius: 10px;
}
/*我的信息*/
.inforul {
	width: 100%;
	font-size: 14px;
	color: #666;
	padding: 8px 0;
}
.inforul li{
	width: 100%;
	background: #fff;
	padding: 8px 18px;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	margin-bottom: 8px;
}
.inforul li .lilt{
	float: left;
}
.inforul li .lirt{
	float: right;
	width: 78%;
	text-align: right;
}
.inforul li .lirt img{
	width: 20px;
	height: 20px;
}
ul li input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: #aaa; 
	font-size: 14px;
	} 
ul li input:-moz-placeholder, textarea:-moz-placeholder { 
	color: #aaa; 
	font-size: 14px;
} 
.inforul li .lirt input{
	width: 100%;
	height: 20px;
	border:0;
	background: none;
	text-align: right;
	font-size: 14px;
	color:#333;
}
/*同事资料*/
.zi{
	width: 97%;
	margin: 10px auto;
	background: #fff;
	padding: 8px 13px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom:10px ;
	font-size: 14px;
	color: #999;
}
.zi .liao{
	padding-bottom: 10px;
	overflow: hidden;
} 
.liao .listlt {
	width: 46px;
	height: 46px;
	float: left;
}
.liao .listlt img{
	width: 100%;
	height: 100%;
}
.liao .listamo{
	margin-left: 10px;
	float: left;
}
.liao .listamo .listm{
	font-size: 16px;
	color: #28D8A1;
}
.liao .listamo .listz{
	color: #333;
}
.liao .listrt {
	margin-right: 5px;
	float: right;
}
.liao .listrt .pic1{
	width: 26px;
	height: 20px;
	margin:5px 10px 0;
}
.liao .listrt .pic2{
	width: 26px;
	height: 26px;
}
.zi ul li{
	width: 100%;
	background: #fff;
	padding: 8px 0;
	overflow: hidden;
}
.zi ul  li .lilt{
	width: 71px;
	float: left;
}
.zi ul  li .lilt span{
	float: right;
}
.zi ul li .lirt{
	width: 76%;
	float: left;
	color:#333;
}
.zi ul  li .lirt img{
	width: 20px;
	height: 20px;
	float: right;
}
.shen{
	width: 100%;
	padding:25px 0 0;
	overflow: hidden;
	text-align: center;	
}
.shen input{
	width: 88%;
	height: 39px;
	background: #28d9a3;
	color:#fff;
	font-size: 14px;
	border:none;
	border-radius: 10px;
}
.ren{
	width: 100%;
	padding:16px 0 0;
	overflow: hidden;
	text-align: center;	
}
.ren input{
	width: 88%;
	height: 39px;
	background: #6b8ee0;
	color:#fff;
	font-size: 14px;
	border:none;
	border-radius: 10px;
}
/*通讯录*/
.mail{
	padding: 0;
}
.mail li:last-child{
	margin-bottom: 0;
}











