@charset "utf-8";
/* CSS Document */
html *{
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    color: #333;
    background: #f3f2f7;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft yahei","Microsoft Yahei UI","Microsoft Yahei","微软雅黑","宋体b8b\4f53","SimSun","sans-serif","Hiragino Sans GB","Segoe UI","Tahoma";
}
body, div, p,ul,h3,h2,dl,dd,dt {
    margin: 0;
    padding: 0;
    font-size:14px; 
}
.bgwhite{
    background:#fff !important;
}
.nobg{
    background:none !important;
}
.no-border:before{
    background:none !important;
}
/*公共样式*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display:block;
}
audio,canvas,video {
    display:inline-block;
}
audio:not([controls]) {
    display:none;
    height:0;
}
[hidden] {
    display:none;
}
html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
a:focus {
    outline:thin dotted;
}
a:active,a:hover {
    outline:0;
}
abbr[title] {
    border-bottom:1px dotted;
}
b,strong {
    font-weight:bold;
}
dfn {
    font-style:italic;
}
hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
}
mark {
    background:#ff0;
    color:#000;
}
code,kbd,pre,samp {
    font-family:monospace,serif;
    font-size:1em;
}
pre {
    white-space:pre-wrap;
}
q {
    quotes:"\201C" "\201D" "\2018" "\2019";
}
small {
    font-size:80%;
}
sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
img {
    border:0;
}
svg:not(:root) {
    overflow:hidden;
}
figure {
    margin:0;
}
fieldset {
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}
legend {
    border:0;
    padding:0;
}
button,input,select,textarea {
    font-family:inherit;
    font-size:100%;
    margin:0;
}
button,input {
    line-height:normal;
}
button,select {
    text-transform:none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer;
}
button[disabled],html input[disabled] {
    cursor:default;
}
input[type="checkbox"],input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}
input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
    border:0;
    padding:0;
}
textarea {
    overflow:auto;
    vertical-align:top;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
p {
    margin:0;
    padding:0;
}
select {
    background:none;
}
em{
    font-style: normal;
}
h2,h3,b{
    font-weight:normal;
    font-size:14px;
}

input, select {
    font-size: 100%;
    vertical-align: middle;
}

textarea, input {
    word-wrap: break-word;
    word-break: break-all;
    padding: 0px;
}
textarea{
	resize:none;
}

input,button,select {
/*     appearance:none;
-moz-appearance:none; Firefox
-webkit-appearance:none; Safari 和 Chrome */
    outline: none;
    -webkit-border-radius:1px;
}
input:focus,input:active{
    outline:none;
}
select:focus,select:active{
	background:none !important;	
}
li {
    list-style-type: none;
}

img {
    border: 0 none;
}
input, img{
	vertical-align: middle;
}
ins {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #333;
    outline: none;
}

a:focus, *:focus {
    star:expression(this.onFocus=this.blur());
    outline:0;
}

a:link, a:visited {
    color: #333;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #253D93;
    text-decoration: none;
}

::selection {
    color: #f00;
    background-color: #f1f1f1;
}

::-moz-selection {
    color: #f00;
    background-color: #f1f1f1;
}

::-webkit-selection {
    color: #f00;
    background-color: #f1f1f1;
}

.clear {
    clear: both;
}
.box-bar{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;	
}
.box-bar-col{
   -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;	
}
.box-bar-list{
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    align-self: center;
}
.cell{
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: auto;	    
    align-self: center;
}
.font-bold{
    font-weight: bold;
}
.font-12{
    font-size: 12px !important;
}
.font-14{
    font-size: 14px !important;   
}
.font-16{
    font-size: 16px !important;
}
.font-18{
    font-size: 18px !important;
}
.font-20{
    font-size: 20px !important;
}
.font-22{
    font-size: 22px !important;
}
.font-24{
    font-size: 24px !important;
}
.font-30{
    font-size: 30px !important;
}
.mar-b5{
    margin-bottom: 5px;
}
.mar-b{
    margin-bottom: 10px !important;
}
.mar-bot{
    margin-bottom: 20px !important;
}
.mar-b30{
    margin-bottom: 30px !important;
}
.mar-b40{
    margin-bottom: 40px;
}
.mar-r{
    margin-right: 10px;
}
.mar-r5{
    margin-right: 5px;    
}
.mar-r15{
    margin-right: 15px;
}
.mar-r20{
    margin-right: 20px;
}
.mar-r30{
    margin-right: 30px;
}
.mar-l{
    margin-left:10px;
}
.mar-t{
    margin-top: 5px;
}
.mar-t5{
    margin-top: 5px;
}
.pad-tb{
    padding-top:10px;
    padding-bottom: 10px;
}
.pad-lr{
    padding-left:15px !important;
    padding-right: 15px !important;
}
.pad10{
    padding:10px;
}
.pad20{
    padding: 20px;
}

.main-wrap{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.my-wrap{
    padding:10px;
    height: auto;
    overflow: hidden;
}
.my-wrap-radius{
    padding:10px;
    height: auto;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -wekit-border-radius: 5px;
}
.my-panel{
    width: 100%;
    height: auto;
    overflow: hidden;   
}
a.my-btn,a.my-btn-border.on{
    border-radius: 30px;
    -wekit-border-radius: 30px;
    background: #A07777;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 15px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: .1s;
    text-align: center;
    border:solid 1px #A07777;
}
a.my-btn-block{
     border-radius: 5px;
    -wekit-border-radius: 5px;
    background: #28D8A1;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: .1s; 
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;  
}
a.my-btn-ball{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -wekit-border-top-left-radius: 15px;
    -wekit-border-bottom-right-radius: 15px;
    background: #FE8491;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 15px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: .1s;
}
a.my-btn-border{
    border-radius: 30px;
    -wekit-border-radius: 30px;    
    background: #fff;
    color: #A07777;
    border:solid 1px #A07777;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 15px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: .1s;  
    text-align: center;  
}
.my-imgbox{
    position: relative;
}
.my-imgbox img,.my-imgbox video{
    width: 100%;
}
.my-bg-line{
    width: 100%;
    padding:14px 15px;
    background: rgba(255,255,255,1);
    position: relative;
}
.my-nobg-line{
    padding:14px 15px;
    position: relative;
}
.my-nobg-line:after{
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;      
}
.my-nobg-line:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #DDD4CA;
    left: 0;
    bottom: 0;
}
.my-bg-line:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    left: 0;
    bottom: 0;
}
.no-border:before{
    background: none;
}
.my-nobg-line:last-child:before{
    background: none;
}
.my-bg-line:last-child:before{
    background: none;
}
.corh{
    color: #606060;
}
.corhui{
    color: #999;
}
.cory{
    color: #FFA02E;
}
.corb{
    color: #28D8A1 !important;
}
.corbr{
    color: #9B7E4B !important;
}
.corw{
    color: #fff !important;
}
.corr{
    color: #EF5C54 !important;
}
.corz{
    color: #E37E66 !important;
}
body.main-bg{
    background:url(../images/flower.png) no-repeat center 4.0rem #efeae6;
    background-size:6.3867rem auto;
}
.my-brown-panel{
    width: 100%;
    height: auto;
    overflow: hidden;
    background:#EFEAE6;
}
.height-auto{
    height: auto !important;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}