@font-face {
  font-family: 'iconfont';  /* project id 1038339 */
  src: url('http://at.alicdn.com/t/font_1038339_4c900kcepxf.eot');
  src: url('http://at.alicdn.com/t/font_1038339_4c900kcepxf.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1038339_4c900kcepxf.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1038339_4c900kcepxf.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1038339_4c900kcepxf.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1038339_4c900kcepxf.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}